numpy == 1.26.4
pyserial == 3.5
pyvesc == 1.0.5
pythoncrc == 1.21
xalglib == 3.16.0
scipy == 1.13.0
crccheck == 1.3.0
# pyvesc-fix == 1.0.0

# For cosmetics purposes
colourise-output == 1.1.3

# For compilation purposes
pyinstaller == 6.5.0
